.postNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  
  a {
    display: block;
    width: 50%;
    margin: 1em 0;

    &.prev {
      float: left;
    }
    &.next {
      float: right;
      text-align: right;
    }
  }
}

